
$primary-color: red; 
$secondary-color: red; 
$background-color: black; 
$text-color: #2f4f4f; 
$header-height: 150px;
$border-color: yellow; 
$hover-background-color: rgb(77, 70, 70); 
$table-header-background-color: #43424d; 
$table-header-text-color: #f9f5ff; 