@use 'variables';


header {
    width: 100%;
    height: variables.$header-height;
    border-bottom: 2px solid variables.$primary-color;
    background-color: variables.$secondary-color;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 120px;
        height: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: variables.$table-header-text-color;
                padding: 5px 10px;
                border-radius: 5px;

                &:hover,
                &.active {
                    background-color: variables.$primary-color;
                    color: #fff;
                }
            }
        }
    }
}